@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="top-row ps-3 navbar navbar-dark">
                <div class="container-fluid">
                    <NavLink href="">Pale Bazaar</NavLink>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <NavMenu />
            </div>
        </nav>

        <div class="content px-4">
            @Body
        </div>

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <LoginDisplay />
            </div>
        </footer>
    </div>
</div>
