@inherits LayoutComponentBase

<div class="page">
    <div class="container page-container">
        <header>
            <nav class="navbar">
                <div class="ps-3 navbar">
                    <div class="container-fluid">
                        <NavLink href="">Pale Bazaar</NavLink>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <NavMenu />
                </div>
            </nav>
        </header>

        <main>
            <div class="content px-4">
                @Body
            </div>
        </main>

        <footer class="footer mt-auto py-3">
            <div class="container">
                <LoginDisplay />
            </div>
        </footer>
    </div>
</div>
