<nav class="flex-column">
    <ul>
        <li class="drop-down-link">
            <NavLink href="fleshrites">Flesh Rites</NavLink>
        </li>
        <li class="drop-down-link">
            <NavLink href="illustrations">Illustrations</NavLink>
        </li>
        <li class="drop-down-link">
            <NavLink href="binaryConjuring">Binary Conjuring</NavLink>
        </li>
        <li class="drop-down-link">
            <NavLink href="puzzlebox">Puzzle Box</NavLink>
        </li>
        <li class="drop-down-link">
            <NavLink href="cabinetofmiscellany">Cabinet of Miscellany</NavLink>
        </li>
    </ul>
</nav>
