<nav class="flex-column">
    <ul>
        <li>
            <NavLink href="counter">Counter</NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">Fetch data</NavLink>
        </li>
    </ul>
</nav>
