@page "/"

<PageTitle>The Pale Bazaar</PageTitle>

<section id="bazaar-banner">
    <NavLink href="grimoirecatalog" class="no-hover-effect">
        <h2>The Pale Bazaar</h2>
        <div class="image-container">
            <img src="/images/intro-image.jpg" />
        </div>
        <h3>ENTER</h3>
    </NavLink>
</section>