@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url(reset.css);
@import url(base.css);
@import url(layout.css);
@import url(style.css);
@import url(nav.css);
@import url(loading-bar.css);
@import url(puzzleBox/puzzle-box-games.css);

/* font-family: 'Aclonica', sans-serif;
font-family: 'Eagle Lake', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lumanosimo', cursive;
font-family: 'Special Elite', cursive; */