/* Landing page */

#bazaar-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    justify-items: center;
    align-content: center;
    background-color: #000000;
    text-align: center;
    z-index: 1000;
    padding: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

    #bazaar-banner .image-container {
        grid-row: 3 / 4;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    #bazaar-banner img {
        max-width: 80%;
        height: auto;
        max-height: 560px;
    }

    #bazaar-banner h2 {
        grid-row: 1 / 2;
        font-family: 'Lumanosimo', cursive;
        font-size: 1.8em;
        margin: 20px auto;
    }

    #bazaar-banner p {
        grid-row: 2 / 3;
    }

    #bazaar-banner h3 {
        grid-row: 4 / 5;
        font-size: 1.8em;
        font-family: 'Special Elite', cursive;
        margin: 20px auto;
    }

    #bazaar-banner.hidden {
        opacity: 0;
        display: block !important;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

/* Gallery stuff */

.echo-viewer-data-gallery {
    background-color: #000;
}

.gallery-chamber-title h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

.input-field {
    text-align: center;
    font-size: 1.8em;
}

.circular-control {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border: 1px solid #86fffb;
}

    .circular-control::before {
        font-size: 24px;
        color: #86fffb;
    }

/* Admin toggles */

.dot {
    background-color: rgb(185, 254, 255);
    border-radius: 50%;
}

.menu-button {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.x-part {
    background-color: #f6b265;
}

.dropdown-container {
    text-align: center;
}

.dropbtn {
    background-color: #000;
    color: rgb(185, 254, 255);
    padding: 16px;
    font-size: 16px;
    border: solid 1px rgb(185, 254, 255);
    border-radius: 10px;
    cursor: pointer;
}

.dropdown {
    background-color: #000;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.blazor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}