<section id="cipher-box-container">
    <h3>CipherBox</h3>

    <div id="cipher-box-board">
        <table>
            @for (var i = 0; i < @GameBoardX; i++)
            {
                <tr>
                    @for (var j = 0; j < @GameBoardY; j++)
                    {
                        var rune = GameBoard[i, j];
                        var runeX = rune?.X ?? 0;
                        var runeY = rune?.Y ?? 0;

                        <td class="cipher-box-rune-cell">
                            @if (rune != null)
                            {
                                <button class="cipher-box-rune-stone" @onclick="() => ActivateRune(runeX, runeY)">
                                    <p>@rune.Sigil</p>
                                </button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <div id="cipher-box-controls">

        <div id="cipher-box-log">
            @if (ShowCounter)
            {
                <p>@TeleportTranscript</p>
            }
        </div>
        
        <label class="cipher-counter-switch">
            <input type="checkbox" @bind="ShowCounter" />
            <span class="cipher-switch-slider"></span>
        </label>

        <button @onclick="ReScatterRunes">Scatter Runes</button>
    </div>
</section>
