@page "/plaguedoctor"

<secion id="plague-doctor">
    <h3>PlagueDoctor</h3>

    <div class="plague-jar">
        @for (int y = 0; y < PlagueJar.BoardHeight; y++)
        {
            <div class="row">
                @for (int x = 0; x < PlagueJar.BoardWidth; x++)
                {
                    <div class="cell">
                        @RenderCell(y, x)
                    </div>
                }
            </div>
        }
    </div>
</secion>