@page "/fleshrites"

<PageTitle>Flesh Rites</PageTitle>

<h3>FleshRites</h3>

@if (Echoes == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var echo in Echoes)
    {
        <p>@echo.FileName</p>
    }
}
