@page "/grimoirecatalog"

<PageTitle>Grimoire Catalog</PageTitle>

<section id="bazaar-home">
    <div>
        <h2>The Pale Bazaar</h2>
        <img src="https://placehold.co/280x100" />
        <p class="paragraph-format">
            Mystica arcanae vocibus resonant, inter sidera lunaque pervagantur.
        </p>
    </div>

    <div id="bazaar-home-nav-container">
        <h3>Grimoires</h3>
        <NavMenu />
    </div>
</section>