@page "/puzzlebox"

<PageTitle>Puzzle Box</PageTitle>

<h3>PuzzleBox</h3>

<EditForm>
    <InputSelect @bind-Value="Game" @onchange="UpdateGame">
        <option value="Welcome">Welcome</option>
        <option value="CipherBox">Cipher Box</option>
    </InputSelect>
</EditForm>

<div>
    <DynamicComponent Type="@_gameType" />
</div>
