@page "/puzzlebox"

<PageTitle>Puzzle Box</PageTitle>

<h3>PuzzleBox</h3>

<nav class="flex-column">
    <ul>
        <li class="drop-down-link">
            <NavLink href="cipherbox">Cipher Box</NavLink>
        </li>
        <li class="drop-down-link">
            <NavLink href="plaguedoctor">Plague Doctor</NavLink>
        </li>
    </ul>
</nav>

